@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1a56db;
  --secondary-color: #4f46e5;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f4f6;
}

#app {
  height: 100vh;
}